.navigation {

  $circle-size: 50px;

  .previous,
  .next {
    background: color('blue');
    display: block;
    width: $circle-size;
    height: $circle-size;
    position: absolute;
    border-radius: 50%;
    top:200px;
    font-size: $circle-size + 1px;

    &.disabled {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background: color('blue', 'dark');
    }

    span {
      @extend %sr-only;
    }
  }

  .previous {
    left: $circle-size * -1.5;
  }

  .next {
    right: $circle-size * -1.5;
  }

  &.fixed {
    .previous,
    .next {
      position: fixed;
    }
  }
}
