.comic {
  max-width: $max-comic-width;
  margin-top: 20px;

  .title {
    color: color('purple');
  }
  .subtitle {
    color: color('blue');
  }
}

.the-comic {
  background: #fff;
  text-align: center;
  padding: 50px;
  position: relative;
}


.navigation {

  $circle-size: 50px;

  .previous,
  .next {
    background: color('blue');
    display: block;
    width: $circle-size;
    height: $circle-size;
    position: absolute;
    border-radius: 50%;
    top:200px;
    font-size: $circle-size + 1px;

    &:hover {
      cursor: pointer;
      background: color('blue', 'dark');
    }

    span {
      @extend %sr-only;
    }
  }

  .previous {
    left: $circle-size * -1.5;
  }

  .next {
    right: $circle-size * -1.5;
  }
}

.post {
  margin:50px 0;
  background: white;
  padding: 20px 40px 50px;
  h2 {
    color:color('blue');
    margin-bottom: 10px;
  }
}
