.navigation {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;

  .previous {
    margin-right: 40px;
  }

  .previous,
  .next {
    cursor: pointer;

    &.disabled {
      opacity: 0;
    }
  }
}
