.sidebar {
  position: fixed;
  height: 100%;
  background: color('red');
  z-index: 100;
  top:0;
  left: -15%;
  width: 15%;

  .comics-list-wrap {
    width: 100%;
    overflow: auto;
    border-right:5px solid color('red', 'dark');
    position: absolute;
    top: 50px;
    bottom: 0;
  }

  .archives-link {
    background: color('purple');
    width: 100%;
    display: block;
    height: 50px;
    text-align: center;
    padding:5px;
    color: color('blue');
    margin-right:-5px;
    border-bottom:5px solid color('purple', 'dark');
  }
}

.sidebar-expander {
  position: absolute;
  top:100px;
  left: 100%;
  width: 40px;
  height: 60px;
  background: color('red', 'dark');
  cursor: pointer;
  font-size: 40px;
  line-height: 60px;
  text-align: center;


  @extend .fa;

  .container:not(.open-sidebar) & {
    @extend .fa-angle-double-right;
  }

  span {
    @extend %sr-only;
  }
}


.comics-list {
  li {
    display: block;
    width: 90%;
    margin:5px auto;
    position: relative;
    overflow: hidden;
    padding: 5px;
    &.active {
      background: color('yellow');
    }
    img {
      width: 100%;
      position: relative;
      z-index: 2;
      display: block;
    }
    h3 {
      position: absolute;
      top:100%;
    }
  }
}
