.sidebar {
  position: fixed;
  height: 100%;
  background: color('red');
  z-index: 100;
  top:0;
  left: -15%;
  width: 15%;

  .comics-list-wrap {
    height: 100%;
    width: 100%;
    overflow: auto;
    border-right:5px solid darken(color('red'), 10%);
  }

  .archives-link {
    background: color('purple');
    width: 100%;
    display: block;
    height: 50px;
    text-align: center;
    padding:5px;
    color: color('blue');
    margin-right:-5px;
    border-bottom:5px solid darken(color('purple'), 5%);
  }
}

.sidebar-expander {
  position: absolute;
  top:100px;
  left: 100%;
  width: 30px;
  height: 50px;
  background: #000;
  cursor: pointer;
}


.comics-list {
  li {
    display: block;
    width: 90%;
    margin:5px auto;
    position: relative;
    overflow: hidden;
    padding: 5px;
    &.active {
      background: color('yellow');
    }
    img {
      width: 100%;
      position: relative;
      z-index: 2;
      display: block;
    }
    h3 {
      position: absolute;
      top:100%;
    }
  }
}
