<article class="comic">

  <div class="above-fold">

    <div class="ads">

    </div>

    <hgroup>
      <input class="title" type="text" data-ng-model="$root.data.comic.title"/>
      <input class="subtitle" data-ng-model="$root.data.comic.subtitle"/>

      <a ui-sref="comic({id:$root.data.comic.id, slug:$root.data.comic.slug})"><i class="fa fa-times"></i>Cancel</a>
      <a ng-click="save()"><i class="fa fa-save"></i>Save</a>

    </hgroup>
    <div class="the-comic">
      <img ng-src="{{'/images/comics/' + $root.data.comic.comic_full}}" alt="{{$root.data.comic.title}}" title="{{$root.data.comic.title}}" />
    </div>

  </div>

  <div class="below-fold">

    <section class="post">
      <h2>NOTES</h2>
      <textarea ng-model="$root.data.comic.post_content"></textarea>
      <a ng-click="save()"><i class="fa fa-save"></i>Save</a>
    </section>

    <aside class="ads">

    </aside>

  </div>

</article>
