<article class="comic">

  <div class="above-fold">

    <div class="ads">

    </div>

    <hgroup>
      <h1 class="title" data-ng-bind="$root.data.comic.title"></h1>
      <h3 class="subtitle" data-ng-bind="$root.data.comic.subtitle"></h3>

      <a ui-sref="comic({id:$root.data.comic.id, slug:$root.data.comic.slug})"><i class="fa fa-times"></i>Cancel</a>
      <a ui-sref="comic-edit({id:$root.data.comic.id, slug:$root.data.comic.slug})"><i class="fa fa-save"></i>Save</a>

    </hgroup>
    <div class="the-comic">
      <img ng-src="{{'/images/comics/' + $root.data.comic.comic_full}}" alt="{{$root.data.comic.title}}" title="{{$root.data.comic.title}}" />
    </div>

  </div>

  <div markdown>
# test

- just
- you
- and
- i
  </div>

  <div class="below-fold">

    <section class="post">
      <h2>NOTES</h2>
      <div ng-bind="$root.data.comic.post_content"></div>
    </section>

    <aside class="ads">

    </aside>

  </div>

</article>
