<article class="comic">

	<div class="above-fold">

		<div class="ads">

		</div>

		<hgroup>
			<h1>{{comic.title}}</h1>
			<h3>{{comic.subtitle}}</h3>
      <time datetime="{{comic.date}}">{{comic.date | date:'MM:dd:yyyy'}}</time>
		</hgroup>
		<div class="the-comic">
			<img ng-src="images/comics/{{comic._images.full}}" alt="{{comic.title}}" />
		</div>
		<ul class="share-links">
			<li>
				<a href="FACEBOOKSHARELINK" target="_blank">Facebook</a>
			</li>
		</ul>

	</div>

	<div class="below-fold">

		<section class="post">
			{{comic.post}}
		</section>

		<aside class="ads">

		</aside>

	</div>

</article>
