<aside class="sidebar" ng-class="{'tease-sidebar':teaseSidebar}">

  <h2><a class="archives-link" ui-sref="archives">Archives</a></h2>

  <a
    class="sidebar-expander"
    ng-mouseenter="teaseSidebar = true"
    ng-mouseleave="teaseSidebar = false"
    ng-click="$root.openSidebar = !$root.openSidebar">
    <span>Toggle Sidebar</span>
  </a>

  <nav class="comics-list-wrap">

    <ul class="comics-list">
      <li
        ui-sref-active="active"
        ng-repeat="comic in $root.data.comics"
        ng-class="{active:$state.includes('index') && $first}">
        <a ui-sref="comic({id: comic.id, slug: comic.slug})">
          <img
            lazy-load-src="images/comics/{{comic.comic_thumb}}"
            lazy-load-watch=".comics-list-wrap"
            alt="{{comic.title}}" />
          <h3>{{comic.title}}</h3>
        </a>
      </li>
    </ul>

  </nav>

</aside>
