# General stuff one should ignore
node_modules
.DS_Store
.htaccess
bower_components
npm-debug.log
.sass-cache

# For running/testing locally:
src/vendor
src/css
src/images/comics
src/fonts/font-awesome
