* {
  &,
  &::before
  &::after {
    @include box-sizing(border-box);
  }
}

// a {
//   @include color-animation();
//   text-decoration: none;
//   color: color('blue');

//   &:visited {
//     color: color('purple');
//   }

//   &:hover {
//     color: color('blue', 'dark');
//   }

//   &:active {
//     color: color('blue', 'light');
//   }

//   &.disabled,
//   &:disabled {
//     cursor: not-allowed;
//     color: gray(4);
//   }
// }


a {
  text-decoration: none;
  font-weight: 500;
  color: color('yellow');

  &:hover {
    color: color('orange');
  }

  &:active {
    color: color('red');
  }

  // &:visited {
  //   color: color('blue');
  // }

  &:disabled {
    color: #848D82;
  }
}

%ul, %ol {
  padding-left: 3.25em;
  list-style-type: none;
}

%ul {
  li:before {
    content: "·";
    font-size: 2em;
    font-family: "Times New Roman";
    float: left;
    margin-left: -0.5em;
  }
}

%ol {

  &:first-child {
    counter-reset: customlistcounter;
  }

  > li {
    counter-increment: customlistcounter;

    &:before {
      content: counter(customlistcounter) " ";
      font-weight: 600;
      float: left;
      margin-left: -1.25em;
    }
  }
}

html, body {
  height: 100%;
}

body{
  background-color: color('yellow', 'light');
  // color: gray(4);
}

.open-sidebar {
  .sidebar {
    left: 0%;
  }

  main,
  footer,
  header {
    left: 15%;
  }
  main {
    width: 85%;
  }
}

main,
footer,
header {
  left: 0%;
}

.container {
  position: relative;
  > * {
    @include transition(all .15s);
  }
}
